body {
    background-color: #f8f8f8 !important;
}

.nav-change {
    height: 80px !important;
}

.navbar {
    background-color: white !important;
}

.collapse ul {
    padding-top: 20px !important;
}

.btn-custom {
    border: 1px solid rgb(97, 3, 160);
    color: white !important;
    font-weight: bold;
    background-color: rgb(97, 3, 160);
    padding: 5px !important;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: rgb(123, 1, 204) !important;
}

.btnLi {
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 150px;
}

.navbar-nav>li>.dropdown-menu {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav>li>.dropdown-menu>li>a {
    color: #696969 !important;
}

.navbar-nav>li>.dropdown-menu>li>a:hover {
    color: black !important;
}

.logo {
    width: 80px;
    height: 80px;
}

.navbar-brand {
    padding: 0% !important;
    margin-left: 100px;
}

.navbar-nav>li>.dropdown-menu>a {
    color: rgb(105, 105, 105) !important;
    margin-left: 10px;
}

.navbar-nav>li>.dropdown-menu>a:hover {
    color: black !important;
}

.purple {
    background-color: rgb(97, 3, 160) !important;
    color: white !important;
}

.bg-purple {
    border-radius: 10px;
    padding-top: 8vh;
    padding-bottom: 10vh;
}

.input-new {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    width: 60%;
}

.input-color {
    background-color: rgb(78, 0, 131) !important;
    color: white !important;
}

.select-color:hover {
    background-color: rgb(97, 3, 160) !important;
    color: white !important;
}

.card {
    height: 40vh;
    background-color: white;
    border-radius: 10px;
}

.control-buttons {
    margin-bottom: 30px;
}

.card:hover {
    border: 1px solid rgb(102, 102, 102) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-a {
    color: black;
}

.card-a:hover {
    color: black;
    text-decoration: none;
    
}

.card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 150px !important;
    height: 150px !important;
}

.card-margin {
    margin-left: 10px;
    margin-right: 10px;
}

.footer-card {
    color: grey !important;
    font-size: 0.8em;
    border-top: 1px solid rgb(167, 166, 166);
    padding-top: 10px;
}

.descr {
    height: 12vh;
}

.admin-panel {
    min-height: 85vh;
}

.footer {
    background-color: #302f38;
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
}

.content {
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.pagination>.active>span, .pagination>.active>a {
    background-color: rgb(78, 0, 131) !important;
    border-color: rgb(78, 0, 131) !important;
    color: white !important;
}

.pagination>li>a, .pagination>li>span {
    color: rgb(78, 0, 131) !important;
}

/*
Lessons page
*/

.baner {
    background-color: white;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.baner > * {
    margin-left: 10px;
    margin-right: 10px;
}

.date-span {
    background-color: rgb(250, 250, 69);
    color: rgb(255, 68, 0);
    margin-left: 10px;
    padding: 2px 3px;
}

.lesson-link {
    color: black;
}

.lesson-link:hover {
    color: rgb(37, 36, 36);
    text-decoration: none;
    font-style: italic;
}

.more {
    background-color: rgb(252, 252, 252);
    width: 80%;
    margin-left: 10px;
    text-indent: 10px;
}

.more span{
    position: relative;
    left: 80%;
    background-color:#f8f8f8;
    padding: 5px 10px;
}

.btn-more {
    background-color:#f8f8f8;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}

/*
* Admin page
*/

.nav-admin {
    margin-left: auto !important;
    margin-right: auto !important;
}

.btn-link {
    color: white !important;
}

.margin-purple {
    margin-top: 20vh;
    margin-bottom: 27vh;
}

.form-padd {
    padding-top: 5vh;
}

/* add-project page */
.nav-tabs li a {
    color: rgb(97, 3, 160) !important;
}

.nav-tabs li a:hover:not(.active) {
    background-color: rgb(97, 3, 160) !important;
    color: white !important;
    font-style: italic;
}

.add-margin {
    margin-top: 5vh;
    margin-bottom: 20vh;
}

.except-margin {
    margin-top: 5vh;
    margin-bottom: 13vh;
}

.btn-color {
    background-color: rgb(97, 3, 160) !important;
    color: white !important;
}

.btn-color:hover {
    background-color: rgb(123, 1, 204) !important;
}

.project-form {
    padding-top: 5vh;
    padding-bottom: 15vh;
}

.btnHover:hover {
    background-color: #ffdb49 !important;
}

.bg-white {
    background-color: white;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

@media only screen and (max-width: 1408px) {
    .card {
        height: 50vh;
    }

    .margin-purple {
        margin-top: 15vh;
        margin-bottom: 20vh;
    }
}

@media only screen and (max-width: 1024px) {
    .navbar-brand {
        margin-left: 20px;
    }

    .btnLi {
        margin-right: 40px;
    }

    .bg-purple {
        padding-top: 3vh;
        padding-bottom: 5vh;
    }

    .content {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .add-margin {
        margin-top: 3vh;
        margin-bottom: 10vh;
    }

    .except-margin {
        margin-top: 3vh;
        margin-bottom: 8vh;
    }
}

@media only screen and (max-width: 768px) {
    .nav-change {
        height: 60px !important;
    }

    .collapse ul {
        padding-top: 10px !important;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    h2 {
        font-size: 1.6em !important;
    }

    .bg-purple p {
        font-size: 0.8em;
    }

    .card {
        height: 37vh;
    }

    .project-form {
        padding-bottom: 12vh;
        margin-left: 10px;
        margin-right: 10px;
    }

    .add-margin {
        margin-bottom: 30vh;
    }

    .except-margin {
        margin-bottom: 25vh;
    }

    .baner p {
        font-size: 0.8em;
    }

    .margin-purple {
        margin-top: 10vh;
        margin-bottom: 47vh;
    }
}

@media only screen and (max-width: 480px) {
    .nav-change {
        height: 50px !important;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    h2 {
        font-size: 1.0em !important;
    }

    h3 {
        font-size: 1.4em !important;
    }

    .input-new {
        padding-top: 5px;
        width: 95%;
    }

    .bg-purple p {
        font-size: 0.6em;
    }

    .card {
        height: 42vh;
    }

    .card-img {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100px !important;
        height: 100px !important;
    }

    .card p {
        font-size: 0.9em;
    }

    .footer {
        font-size: 0.6em;
    }

    .btn-font > * {
        font-size: 0.8em !important;
    }

    .test {
        display: flex;
        flex-direction: column-reverse;
    }

    .date-size {
        font-size: 0.6em !important;
    }

    .lesson-text {
        font-size: 0.7em !important;
    }
}